@charset "UTF-8";
/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}
.slick-slider .slick-track {
  transform: translate3d(0, 0, 0);
}
.slick-slider .slick-list {
  transform: translate3d(0, 0, 0);
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:before {
  display: table;
  content: "";
}
.slick-track:after {
  display: table;
  content: "";
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}
.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}
.slick-slide img {
  display: block;
}

[dir=rtl] .slick-slide {
  float: right;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/* Slider */
/* Icons */
@font-face {
  font-family: "slick";
  font-weight: normal;
  font-style: normal;
  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");
}
/* Arrows */
/* Dots */
.slick-loading .slick-list {
  background: #fff url("./ajax-loader.gif") center center no-repeat;
}

.slick-prev {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  width: 20px;
  height: 20px;
  padding: 0;
  transform: translate(0, -50%);
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: transparent;
  left: -25px;
}
.slick-prev:hover {
  color: transparent;
  outline: none;
  background: transparent;
}
.slick-prev:hover:before {
  opacity: 1;
}
.slick-prev:focus {
  color: transparent;
  outline: none;
  background: transparent;
}
.slick-prev:focus:before {
  opacity: 1;
}
.slick-prev:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  opacity: 0.75;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "←";
}

.slick-next {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  width: 20px;
  height: 20px;
  padding: 0;
  transform: translate(0, -50%);
  cursor: pointer;
  color: transparent;
  border: none;
  outline: none;
  background: transparent;
  right: -25px;
}
.slick-next:hover {
  color: transparent;
  outline: none;
  background: transparent;
}
.slick-next:hover:before {
  opacity: 1;
}
.slick-next:focus {
  color: transparent;
  outline: none;
  background: transparent;
}
.slick-next:focus:before {
  opacity: 1;
}
.slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  opacity: 0.75;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "→";
}

.slick-prev.slick-disabled:before {
  opacity: 0.25;
}

.slick-next.slick-disabled:before {
  opacity: 0.25;
}

[dir=rtl] .slick-prev {
  right: -25px;
  left: auto;
}
[dir=rtl] .slick-prev:before {
  content: "→";
}
[dir=rtl] .slick-next {
  right: auto;
  left: -25px;
}
[dir=rtl] .slick-next:before {
  content: "←";
}

.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: -25px;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}
.slick-dots li {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}
.slick-dots li button:hover {
  outline: none;
}
.slick-dots li button:hover:before {
  opacity: 1;
}
.slick-dots li button:focus {
  outline: none;
}
.slick-dots li button:focus:before {
  opacity: 1;
}
.slick-dots li button:before {
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: "•";
  text-align: center;
  opacity: 0.25;
  color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before {
  opacity: 0.75;
  color: black;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: #272525;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}

p {
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  margin: 0;
}

a {
  text-decoration: none;
}
a:active, a:focus, a:hover {
  color: #000;
  text-decoration: none;
}

ol,
ul {
  margin: 0;
}

li {
  list-style: none;
  list-style-position: inside;
}

.title_sec h2 {
  position: relative;
  padding-bottom: 14px;
  font-weight: 500;
}
.title_sec h2::before {
  position: absolute;
  left: 0;
  bottom: 0;
  content: "";
  height: 4px;
  width: 80px;
  background-color: #eaeaea;
}
.title_sec h2::after {
  position: absolute;
  left: 0;
  bottom: 0;
  content: "";
  height: 4px;
  width: 40px;
  background-color: #2AD6C3;
}

.hs1,
.hs2,
.hs3,
.hs4,
.hs5,
.hs6,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 20px;
  font-weight: 400;
}

.hs1,
h1 {
  font-weight: 500;
  font-size: 64px;
  line-height: 100%;
  letter-spacing: -0.02em;
}
.hs1 strong,
h1 strong {
  font-weight: 700;
}

.hs2,
h2 {
  font-weight: 400;
  font-size: 32px;
  line-height: 110%;
}
.hs2 strong,
h2 strong {
  font-weight: 600;
}
@media (max-width: 1200px) {
  .hs2,
  h2 {
    font-size: 24px;
  }
}
@media (max-width: 767px) {
  .hs2,
  h2 {
    letter-spacing: 0em;
  }
}

.hs3,
h3 {
  font-weight: 500;
  font-size: 14px;
  line-height: 120%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}

.hs4,
h4 {
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
}

.hs5,
h5 {
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}

h6 {
  font-weight: 500;
  font-size: 24px;
  line-height: 130%;
}

.btn {
  display: inline-block;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
  text-align: center;
  letter-spacing: 0.04em;
  padding: 16px 32px;
  background: none;
  color: #000000;
  background-color: #ffffff;
  border: 1px solid #ffffff;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
  border-radius: 8px;
}
.btn:focus, .btn:hover {
  color: #ffffff;
  border: 1px solid #ffffff;
  background-color: unset;
}

.btn-outline {
  color: #ffffff;
  background-color: unset;
  border: 1px solid #ffffff;
}
.btn-outline:focus, .btn-outline:hover {
  color: #ffffff;
  border: 1px solid #ffffff;
  background: unset;
}

.btn-blue {
  color: #ffffff;
  background-color: #2AD6C3;
  border: 1px solid #2AD6C3;
}
.btn-blue:focus, .btn-blue:hover {
  color: #2AD6C3;
  border: 1px solid #2AD6C3;
  background-color: unset;
}

.btn-outline-blue {
  color: #2AD6C3;
  background-color: unset;
  border: 1px solid #2AD6C3;
}
.btn-outline-blue:focus, .btn-outline-blue:hover {
  color: #ffffff;
  border: 1px solid #2AD6C3;
  background-color: #2AD6C3;
}

.cnt-lg {
  max-width: 1640px;
  margin: auto;
}

.cnt {
  max-width: 1304px;
  margin: auto;
}
@media (max-width: 991px) {
  .cnt {
    max-width: 92%;
    margin: auto;
  }
}

.img img {
  width: auto;
  height: auto;
  max-width: 100%;
}

header {
  position: relative;
  color: #272525;
  background-color: #ffffff;
}
header nav {
  padding: 15px 0 !important;
}
header .navbar-brand {
  color: #272525;
  font-size: 26px;
  text-transform: capitalize;
  font-weight: 600;
}
header .navbar-brand span {
  font-size: 32px;
  color: #2AD6C3;
}
header .navbar-brand:hover {
  color: #ffffff;
}
header .navbar-nav .nav-item {
  margin-right: 20px;
}
header .navbar-nav .nav-item:last-child {
  margin-right: 0;
}
header .navbar-nav .nav-link {
  color: #272525;
  font-size: 16px;
  padding: 0;
  text-transform: uppercase;
}
header .navbar-nav .nav-link.active {
  color: #2AD6C3;
}

.home_hero {
  position: relative;
  height: 820px;
  background-image: url(../img/home-bg.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}
.home_hero .img {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
  transition: all 1s linear;
}
.home_hero .img video {
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  min-height: 820px;
}
.home_hero .img::before {
  position: absolute;
  content: "";
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  opacity: 0.4;
  background-color: #000000;
}
.home_hero .cnt {
  height: inherit;
}
.home_hero .txt {
  position: relative;
  z-index: 4;
  color: #ffffff;
  text-align: center;
}
@media (max-width: 1440px) {
  .home_hero {
    height: 565px;
  }
  .home_hero .img video {
    min-height: 520px;
  }
}

.sbs_treat {
  position: relative;
  margin-top: 120px;
  margin-bottom: 120px;
  color: #ffffff;
  background-color: #233542;
}
.sbs_treat h2 {
  margin-bottom: 16px;
}
.sbs_treat h2 strong {
  display: block;
  color: #2AD6C3;
}
.sbs_treat .txt {
  max-width: 450px;
  margin: auto;
}
@media (max-width: 991px) {
  .sbs_treat {
    margin-top: 80px;
    margin-bottom: 80px;
  }
  .sbs_treat .txt {
    max-width: 100%;
    padding-top: 32px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 60px;
  }
}
@media (max-width: 767px) {
  .sbs_treat {
    margin-top: 48px;
    margin-bottom: 48px;
  }
}

.video-sec {
  position: relative;
  margin-top: 120px;
  margin-bottom: 120px;
}
.video-sec .video-img {
  position: relative;
  display: inline-block;
}
.video-sec .video-img .icon-play-circle {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  text-align: center;
}
.video-sec .video-img .icon-play-circle svg {
  margin-bottom: 8px;
}
.video-sec .video-img .icon-play-circle span {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #F2f2f2;
}
.video-sec .video-img .icon-play-circle:hover svg path {
  fill: #2AD6C3;
}
.video-sec .video-img .icon-play-circle:hover span {
  color: #2AD6C3;
}
.video-sec .video-img .video {
  position: relative;
}
.video-sec .video-img .video img {
  border-radius: 0px;
}
.video-sec .video-img::after {
  content: "";
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  border-radius: 0px;
}
@media (max-width: 991px) {
  .video-sec {
    margin-top: 80px;
    margin-bottom: 80px;
  }
}
@media (max-width: 767px) {
  .video-sec {
    margin-top: 48px;
    margin-bottom: 48px;
  }
  .video-sec .video-img {
    width: 100%;
  }
  .video-sec .video img {
    width: 100%;
  }
}

.inset_ctas {
  position: relative;
  margin-top: 120px;
  margin-bottom: 120px;
}
.inset_ctas .title_sec h2 {
  margin-bottom: 32px;
}
.inset_ctas .box {
  position: relative;
}
.inset_ctas .box img {
  border-radius: 8px;
  width: 100%;
}
.inset_ctas .box .txt {
  position: absolute;
  bottom: 48px;
  padding: 0 48px;
  color: #ffffff;
}
.inset_ctas .box .txt h5 {
  font-size: 14px;
  margin-bottom: 8px;
  text-transform: uppercase;
}
.inset_ctas .box .txt h2 {
  font-weight: 400;
  margin-bottom: 16px;
}
.inset_ctas .box .txt .btn {
  margin-top: 32px;
}
.inset_ctas .box::before {
  position: absolute;
  content: "";
  bottom: 0;
  width: 100%;
  height: 520px;
  border-radius: 0px 0px 8px 8px;
  background: linear-gradient(195deg, rgba(5, 220, 241, 0) 18.25%, #2AD6C3 59.1%);
}
@media (max-width: 991px) {
  .inset_ctas {
    margin-top: 80px;
    margin-bottom: 80px;
  }
  .inset_ctas .cnt-md {
    max-width: 100%;
    padding: 0;
  }
  .inset_ctas .slick-slide {
    margin: 0 20px;
  }
  .inset_ctas .box .txt {
    padding: 0 24px;
  }
}
@media (max-width: 767px) {
  .inset_ctas {
    margin-top: 48px;
    margin-bottom: 48px;
  }
}

.meet-the-team {
  position: relative;
  margin-top: 120px;
  margin-bottom: 120px;
}
.meet-the-team .title_sec {
  margin-bottom: 32px;
}
.meet-the-team .title_sec h2 {
  margin-bottom: 16px;
  text-transform: capitalize;
}
.meet-the-team .txt {
  margin-top: 16px;
}
.meet-the-team h3 {
  color: #2AD6C3;
  font-weight: 18px;
  margin-bottom: 8px;
}
@media (max-width: 991px) {
  .meet-the-team {
    margin-top: 80px;
    margin-bottom: 80px;
  }
  .meet-the-team img {
    width: 100%;
  }
  .meet-the-team .slick-slide {
    margin: 0 20px;
  }
}
@media (max-width: 767px) {
  .meet-the-team {
    margin-top: 48px;
    margin-bottom: 48px;
  }
}

.ba_comparision {
  margin: 0;
  /* horizontal panel*/
}
.ba_comparision .panel-container {
  display: flex;
  flex-direction: row;
  /* avoid browser level touch actions */
  position: relative;
  max-width: 632px;
  border-radius: 0px;
}
.ba_comparision .panel-left {
  flex: 0 0 auto;
  /* only manually resize */
  width: 50%;
  white-space: nowrap;
  color: white;
  max-width: calc(100% - 1px);
}
.ba_comparision .panel-left img {
  height: 100%;
}
.ba_comparision .panel-right {
  flex: 1 1 auto;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.ba_comparision .panel-right img {
  position: absolute;
  right: 0;
  height: 100%;
}
.ba_comparision .splitter {
  flex: 0 0 auto;
  width: 1px;
  height: auto;
  cursor: col-resize;
  position: relative;
}
.ba_comparision .splitter:before {
  content: "";
  display: block;
  width: 2px;
  height: calc(100% + 30px);
  top: -15px;
  background: #2AD6C3;
  position: relative;
  z-index: 100;
}
.ba_comparision .splitter .handle {
  background: url(../images/ba-handle.svg);
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  width: 40px;
  height: 40px;
  left: 2px;
  top: calc(50% - 0px);
  transform: translate(-50%, -50%);
  z-index: 100;
}

@media all and (max-width: 1199px) {
  .ba_comparision {
    width: 310px !important;
    margin: 1.5px auto 20px;
  }
  .ba_comparision .panel-container {
    max-width: 310px;
    margin: auto;
  }
  .ba_comparision .panel-left img,
  .ba_comparision .panel-right img {
    height: auto;
    max-width: 310px;
  }
  .ba_comparision .splitter .handle {
    transform: translate(-50%, -50%) scale(0.7);
  }
}
@media (max-width: 991px) {
  .ba_comparision {
    margin: 20px auto 0px;
  }
  [class*=col-]:last-child .ba_comparision {
    margin-bottom: 0;
  }
}
@media all and (max-width: 991px) {
  .ba_comparision {
    width: 342px !important;
    margin-top: -26px;
  }
  .ba_comparision .panel-container {
    max-width: 342px;
  }
  .ba_comparision .panel-left img,
  .ba_comparision .panel-right img {
    max-width: 342px;
  }
}
.ba-inset-slider {
  position: relative;
  padding-top: 160px;
  padding-bottom: 160px;
  overflow: hidden;
}
.ba-inset-slider .title_sec {
  max-width: 1055px;
  margin-bottom: 24px;
}
.ba-inset-slider .title_sec h2 {
  font-size: 32px;
  line-height: 110%;
  margin-bottom: 16px;
}
.ba-inset-slider .ba_slider {
  padding-bottom: 64px;
  margin-left: -20px;
  margin-right: -20px;
}
.ba-inset-slider .ba_slider .item {
  padding: 24px 21px 21px 21px;
}
.ba-inset-slider .ba_slider .item img {
  border-radius: 8px;
}
.ba-inset-slider .ba_slider .item .panel-left,
.ba-inset-slider .ba_slider .item .panel-right {
  position: relative;
}
.ba-inset-slider .ba_slider .item .panel-left span,
.ba-inset-slider .ba_slider .item .panel-right span {
  font-size: 14px;
  line-height: 150%;
  color: #ffffff;
  position: absolute;
  left: 12px;
  bottom: 6px;
}
.ba-inset-slider .ba_slider .item .panel-right span {
  left: auto;
  right: 12px;
}
.ba-inset-slider .ba_slider .txt {
  margin-top: 24px;
}
.ba-inset-slider .ba_slider .txt h6 {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  margin-bottom: 0;
  background: linear-gradient(90deg, #B46A55 0%, #DEBAB0 51.56%, #B46A55 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.ba-inset-slider .ba_slider .txt p {
  line-height: 150%;
}
.ba-inset-slider .flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.ba-inset-slider .ba-arrows {
  position: relative;
  height: 64px;
}
.ba-inset-slider .ba-arrows .slick-prev,
.ba-inset-slider .ba-arrows .slick-next {
  width: 51px;
  height: 51px;
  background-color: #000000;
  border-radius: 4px 0 0 4px;
  box-shadow: unset;
  top: -13px;
}
.ba-inset-slider .ba-arrows .slick-prev:hover,
.ba-inset-slider .ba-arrows .slick-next:hover {
  opacity: 0.87;
  box-shadow: unset;
}
.ba-inset-slider .ba-arrows .slick-prev::before,
.ba-inset-slider .ba-arrows .slick-next::before {
  color: #ffffff;
}
.ba-inset-slider .ba-arrows .slick-prev.slick-disabled,
.ba-inset-slider .ba-arrows .slick-next.slick-disabled {
  opacity: 0.87;
}
.ba-inset-slider .ba-arrows .slick-next {
  right: 0px;
  border-radius: 0 4px 4px 0;
}
.ba-inset-slider .ba-arrows .slick-prev {
  left: calc(100% - 100px);
}
.ba-inset-slider .ba-btns {
  margin-top: 0px;
}
@media (max-width: 1199px) {
  .ba-inset-slider .ba_comparision {
    margin: 0;
  }
  .ba-inset-slider ._cnt {
    padding-left: 24px;
    padding-right: 24px;
    margin: auto !important;
    max-width: 100%;
  }
  .ba-inset-slider .ba_slider .txt {
    width: 310px;
  }
}
@media (max-width: 990px) {
  .ba-inset-slider {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .ba-inset-slider .ba_slider {
    padding-bottom: 56px;
  }
  .ba-inset-slider .ba_slider .item {
    width: 342px;
    margin: 0 20px;
  }
  .ba-inset-slider .ba_slider .txt {
    width: 342px;
  }
  .ba-inset-slider .ba-arrows .slick-prev,
  .ba-inset-slider .ba-arrows .slick-next {
    top: 0px;
  }
}
@media (max-width: 767px) {
  .ba-inset-slider {
    padding-top: 48px;
    padding-bottom: 48px;
  }
  .ba-inset-slider .ba_comparision {
    margin: 0;
  }
  .ba-inset-slider .ba_slider {
    padding-bottom: 32px;
  }
}

.inset_sbs {
  position: relative;
  padding-top: 160px;
  padding-bottom: 160px;
  background-position: right center;
  background-repeat: no-repeat;
  background-size: contain;
  color: #ffffff;
}
.inset_sbs::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 75%;
  height: 100%;
  transform: rotate(180deg);
  background: linear-gradient(90deg, rgba(5, 220, 241, 0) 14.75%, #2AD6C3 42.1%);
}
.inset_sbs .txt {
  position: relative;
}
.inset_sbs .btn {
  margin-top: 32px;
}
@media (max-width: 991px) {
  .inset_sbs {
    padding-top: 0;
    padding-bottom: 80px;
    background-color: #2AD6C3;
    background-image: none !important;
  }
  .inset_sbs::before {
    display: none;
  }
  .inset_sbs .cnt {
    max-width: 100%;
  }
  .inset_sbs .img {
    position: relative;
  }
  .inset_sbs .img::before {
    position: absolute;
    content: "";
    bottom: -2px;
    width: 100%;
    height: 100%;
    transform: rotate(0deg);
    background: linear-gradient(190deg, rgba(5, 220, 241, 0) 22.75%, #2AD6C3 80.1%);
  }
  .inset_sbs .img img {
    width: 100%;
  }
  .inset_sbs .txt {
    padding-top: 32px;
    max-width: 92%;
    margin: auto;
    margin-top: -230px;
  }
}
@media (max-width: 767px) {
  .inset_sbs {
    padding-bottom: 48px;
  }
  .inset_sbs .txt {
    margin-top: -160px;
  }
}

.why_choose {
  position: relative;
  color: #ffffff;
  padding-top: 96px;
  padding-bottom: 96px;
  background: linear-gradient(105.35deg, #069EE1 5.59%, #2AD6C3 92.99%);
}
.why_choose h2 {
  text-align: center;
  margin-bottom: 64px;
  text-transform: capitalize;
}
.why_choose h2::before, .why_choose h2::after {
  display: none;
}
.why_choose h2 strong {
  display: inline-block;
}
.why_choose h3 {
  line-height: 150%;
  margin-top: 16px;
  margin-bottom: 0px;
}
.why_choose h3 strong {
  display: block;
}
.why_choose .box {
  text-align: center;
}
.why_choose .txt {
  margin-bottom: 96px;
}
.why_choose .col-lg-3:nth-last-child(3) .txt {
  margin-bottom: 0;
}
.why_choose .col-lg-3:nth-last-child(2) .txt {
  margin-bottom: 0;
}
.why_choose .col-lg-3:nth-last-child(1) .txt {
  margin-bottom: 0;
}
@media (max-width: 991px) {
  .why_choose {
    padding-top: 80px;
    padding-bottom: 80px;
    border-radius: 0px;
    margin-top: 64px;
  }
  .why_choose .col-lg-3:nth-last-child(3) .txt {
    margin-bottom: 96px;
  }
  .why_choose .col-lg-3:nth-last-child(2) .txt {
    margin-bottom: 0;
  }
  .why_choose .col-lg-3:nth-last-child(1) .txt {
    margin-bottom: 0;
  }
}
@media (max-width: 767px) {
  .why_choose {
    padding-top: 48px;
    padding-bottom: 48px;
  }
  .why_choose .txt {
    margin-bottom: 32px;
  }
  .why_choose .col-lg-3:nth-last-child(3) .txt {
    margin-bottom: 32px;
  }
  .why_choose .col-lg-3:nth-last-child(2) .txt {
    margin-bottom: 0px;
  }
  .why_choose .col-lg-3:nth-last-child(1) .txt {
    margin-bottom: 0;
  }
}

.testimonials {
  position: relative;
  padding-top: 120px;
  padding-bottom: 120px;
}
.testimonials::before {
  position: absolute;
  content: "";
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.1;
  background-color: #2AD6C3;
}
.testimonials .title_sec {
  margin-bottom: 48px;
}
.testimonials .title_sec h2 {
  font-weight: 600;
  margin-bottom: 16px;
}
.testimonials .rating {
  position: relative;
  margin-top: 25px;
  margin-bottom: 16px;
  display: flex;
}
.testimonials .rating::before {
  position: absolute;
  content: "";
  top: -25px;
  width: 89px;
  height: 71px;
  background-image: url(../img/col.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.testimonials .rating img {
  margin-right: 7px;
}
.testimonials h5 {
  font-size: 18px;
  font-weight: 700;
  line-height: 150%;
  margin: 0;
  margin-top: 16px;
  color: #2AD6C3;
}
.testimonials .rev-slider {
  margin-left: -20px;
  margin-right: -20px;
}
.testimonials .slick-slide {
  margin: 0 20px;
}
.testimonials .rev-btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 64px;
}
.testimonials .rev-arrows {
  position: relative;
  height: 51px;
}
.testimonials .rev-arrows .slick-prev,
.testimonials .rev-arrows .slick-next {
  width: 51px;
  height: 51px;
  background-color: #2AD6C3;
  border-radius: 4px 0 0 4px;
  box-shadow: unset;
  top: 0px;
}
.testimonials .rev-arrows .slick-prev:hover,
.testimonials .rev-arrows .slick-next:hover {
  opacity: 0.87;
  box-shadow: unset;
}
.testimonials .rev-arrows .slick-prev::before,
.testimonials .rev-arrows .slick-next::before {
  color: #ffffff;
}
.testimonials .rev-arrows .slick-prev.slick-disabled,
.testimonials .rev-arrows .slick-next.slick-disabled {
  opacity: 0.87;
}
.testimonials .rev-arrows .slick-next {
  right: 0px;
  border-radius: 0 4px 4px 0;
}
.testimonials .rev-arrows .slick-prev {
  left: calc(100% - 100px);
}
@media (max-width: 991px) {
  .testimonials {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}
@media (max-width: 767px) {
  .testimonials {
    padding-top: 48px;
    padding-bottom: 48px;
  }
}

.map_sec {
  position: relative;
  margin-top: 120px;
  margin-bottom: 120px;
}
@media (max-width: 991px) {
  .map_sec {
    margin-top: 80px;
    margin-bottom: 80px;
  }
}
@media (max-width: 767px) {
  .map_sec {
    margin-top: 48px;
    margin-bottom: 48px;
  }
}

.footer_sec {
  position: relative;
  color: #ffffff;
  background-color: #233542;
  padding-top: 30px;
  padding-bottom: 30px;
}
.footer_sec .flex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.footer_sec h2 {
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 0;
}
.footer_sec h2 span {
  font-size: 32px;
  color: #2AD6C3;
}
.footer_sec ul {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}
.footer_sec .footer-top {
  border-bottom: 1px solid #ffffff;
  padding-bottom: 22px;
  margin-bottom: 24px;
}
.footer_sec .footer-top ul li {
  margin-right: 24px;
}
.footer_sec .footer-top ul li:last-child {
  margin-right: 0;
}
.footer_sec .footer-top ul li a {
  font-size: 26px;
  color: #ffffff;
}
.footer_sec .footer-top ul li a:hover {
  color: #2AD6C3;
}
.footer_sec .footer-bottom ul li {
  position: relative;
  margin-right: 34px;
  font-size: 14px;
  text-transform: uppercase;
}
.footer_sec .footer-bottom ul li::before {
  position: absolute;
  content: "";
  top: 2px;
  right: -17px;
  width: 1px;
  height: 20px;
  background-color: #ffffff;
}
.footer_sec .footer-bottom ul li:last-child {
  margin-right: 0;
}
.footer_sec .footer-bottom ul li:last-child::before {
  display: none;
}
@media (max-width: 767px) {
  .footer_sec .footer-bottom .flex {
    display: block;
  }
  .footer_sec .footer-bottom ul {
    flex-direction: column;
  }
  .footer_sec .footer-bottom ul li {
    margin-right: 0;
    margin-bottom: 16px;
  }
  .footer_sec .footer-bottom ul li::before {
    display: none;
  }
}/*# sourceMappingURL=atf.css.map */