.footer_sec {
    position: relative;
    color: $cf;
    background-color: $c2;
    padding-top: 30px;
    padding-bottom: 30px;


    .flex {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }

    h2 {
        font-size: 26px;
        font-weight: 600;
        margin-bottom: 0;

        span {
            font-size: 32px;
            color: $c1;
        }
    }

    ul {
        padding: 0;
        display: flex;
        flex-wrap: wrap;
    }

    .footer-top {
        border-bottom: 1px solid $cf;
        padding-bottom: 22px;
        margin-bottom: 24px;

        ul {
            li {
                margin-right: 24px;

                &:last-child {
                    margin-right: 0;
                }

                a {
                    font-size: 26px;
                    color: $cf;

                    &:hover {
                        color: $c1;
                    }
                }
            }
        }
    }

    .footer-bottom {
        ul {
            li {
                position: relative;
                margin-right: 34px;
                font-size: 14px;
                text-transform: uppercase;

                &::before {
                    position: absolute;
                    content: '';
                    top: 2px;
                    right: -17px;
                    width: 1px;
                    height: 20px;
                    background-color: $cf;
                }

                &:last-child {
                    margin-right: 0;

                    &::before {
                        display: none;
                    }
                }
            }
        }

    }

    @media(max-width:767px) {
        .footer-bottom {
            .flex{
                display: block;
            }
            ul {
                flex-direction: column;
                li {
                    margin-right: 0;
                    margin-bottom: 16px;

                    &::before {
                        display: none;
                    }
                }
            }

        }
    }
}