header{
    position: relative;
    color: $ct;
    background-color: $cf;
    nav{
        padding: 15px 0 !important;
    }
    .navbar-brand{
        color: $ct;
        font-size: 26px;
        text-transform: capitalize;
        font-weight: 600;
        span{
            font-size: 32px;
            color: $c1;
        }
        &:hover{
            color: $cf;
        }
    }
    .navbar-nav{
        .nav-item{
            margin-right: 20px;
            &:last-child{
                margin-right: 0;
            }
        }
        .nav-link{
            color: $ct;
            font-size: 16px;
            padding: 0;
            text-transform: uppercase;
            &.active{
                color: $c1;
            }
        }
    }
}