// --- Start inset_ctas --- 
.inset_ctas {
    position: relative;
    margin-top: 120px;
    margin-bottom: 120px;

    .title_sec{
        h2{
            margin-bottom: 32px;
        }
    }

    .box {
        position: relative;

        img {
            border-radius: 8px;
            width: 100%;
        }

        .txt {
            position: absolute;
            bottom: 48px;
            padding: 0 48px;
            color: $cf;

            h5 {
                font-size: 14px;
                margin-bottom: 8px;
                text-transform: uppercase;
            }

            h2 {
                font-weight: 400;
                margin-bottom: 16px;
            }

            .btn {
                margin-top: 32px;
            }
        }

        &::before {
            position: absolute;
            content: '';
            bottom: 0;
            width: 100%;
            height: 520px;
            border-radius: 0px 0px 8px 8px;
            background: linear-gradient(195.48deg, rgba(0, 0, 0, 0) 18.26%, #000 59.15%);
            background: linear-gradient( 195deg, rgb(5 220 241 / 0%) 18.25% , $c1 59.10% );
        }
    }

    @media(max-width:991px) {
        margin-top: 80px;
        margin-bottom: 80px;

        .cnt-md {
            max-width: 100%;
            padding: 0;
        }

        .slick-slide{
            margin: 0 20px;
        }
        .box {
            .txt {
                padding: 0 24px;
            }
        }
    }
}

// --- End inset_ctas --- 