// ---------- After  & Before Slider -------- 


// ba_comparision 
.ba_comparision {
    margin: 0;

    /* horizontal panel*/
    .panel-container {
        display: flex;
        flex-direction: row;
        /* avoid browser level touch actions */
        // xtouch-action: none;
        position: relative;
        max-width: 632px;
        border-radius: 0px;
    }

    .panel-left {
        flex: 0 0 auto;
        /* only manually resize */
        width: 50%;
        white-space: nowrap;
        color: white;
        max-width: calc(100% - 1px);

        img {
            height: 100%;
        }
    }

    .panel-right {
        flex: 1 1 auto;
        width: 100%;
        position: relative;
        overflow: hidden;

        img {
            position: absolute;
            right: 0;
            height: 100%;
        }
    }

    .splitter {
        flex: 0 0 auto;
        width: 1px;
        height: auto;
        cursor: col-resize;
        position: relative;

        &:before {
            content: '';
            display: block;
            width: 2px;
            height: calc(100% + 30px);
            top: -15px;
            background: $c1;
            position: relative;
            z-index: 100;
        }

        .handle {
            background: url(../images/ba-handle.svg);
            background-repeat: no-repeat;
            background-size: contain;
            position: absolute;
            width: 40px;
            height: 40px;
            left: 2px;
            top: calc(50% - 0px);
            transform :translate(-50%, -50%);
            z-index: 100;
        }
    }
}

@media all and (max-width: 1199px) {

    .ba_comparision {
        width: 310px !important;
        margin: 1.5px auto 20px;

        .panel-container {
            max-width: 310px;
            margin: auto;
        }

        .panel-left img,
        .panel-right img {
            height: auto;
            max-width: 310px;
        }

        .splitter .handle {
             transform: translate(-50%, -50%) scale(0.7);
        }
    }
}

@media (max-width: 991px) {


    .ba_comparision {
        margin: 20px auto 0px;
    }

    [class*="col-"]:last-child .ba_comparision {
        margin-bottom: 0;
    }

}

@media all and (max-width: 991px) {

    .ba_comparision {
        width: 342px !important;
        margin-top: -26px;

        .panel-container {
            max-width: 342px;
        }

        .panel-left img,
        .panel-right img {
            max-width: 342px;
        }

    }
}

// ba_comparision ENd

.ba-inset-slider {
    position: relative;
    padding-top: 160px;
    padding-bottom: 160px;
    overflow: hidden;
    // background-color: $c3;

    .title_sec {
        max-width: 1055px;
        margin-bottom: 24px;

        h2 {
            font-size: 32px;
            line-height: 110%;
            margin-bottom: 16px;
            // color: $c1;
        }

        // p {
        //     font-family: $f2;
        // }
    }

    .ba_slider {
        // transform: translateX(15.4%);
        padding-bottom: 64px;
        margin-left: -20px;
        margin-right: -20px;

        .item {
            padding: 24px 21px 21px 21px;

            img {
                border-radius: 8px;
            }

            .panel-left,
            .panel-right {
                position: relative;

                span {
                    font-size: 14px;
                    line-height: 150%;
                    color: $cf;
                    position: absolute;
                    left: 12px;
                    bottom: 6px;
                }
            }

            .panel-right {
                span {
                    left: auto;
                    right: 12px;
                }
            }
        }

        .txt {
            margin-top: 24px;

            h6 {
                font-weight: 400;
                font-size: 16px;
                line-height: 150%;
                margin-bottom: 0;
                background: linear-gradient(90deg, #B46A55 0%, #DEBAB0 51.56%, #B46A55 100%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
                // text-fill-color: transparent;
            }

            p {
                // color: $c4;
                line-height: 150%;
            }
        }
    }

    .flex {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .ba-arrows {
        position: relative;
        height: 64px;

        .slick-prev,
        .slick-next {
            width: 51px;
            height: 51px;
            background-color: $c0;
            border-radius: 4px 0 0 4px;
            box-shadow: unset;
            top: -13px;

            &:hover {
                opacity: 0.87;
                box-shadow: unset;
            }

            &::before {
                color: $cf;
            }
            &.slick-disabled{
                opacity: 0.87;
            }
        }

        .slick-next {
            right: 0px;
            border-radius: 0 4px 4px 0;
        }

        .slick-prev {
            left: calc(100% - 100px);
        }
    }

    .ba-btns {
        margin-top: 0px;
    }

    @media(max-width:1199px) {
        .ba_comparision {
            margin: 0;
        }

        ._cnt {
            padding-left: 24px;
            padding-right: 24px;
            margin: auto !important;
            max-width: 100%;
        }

        .ba_slider {
            .txt {
                width: 310px;
            }
        }
    }

    @media(max-width:990px) {
        padding-top: 80px;
        padding-bottom: 80px;

        .ba_slider {
            padding-bottom: 56px;
            .item{
                width: 342px;
                margin: 0 20px;
            }
            .txt {
                width: 342px;
            }
        }

        .ba-arrows {

            .slick-prev,
            .slick-next {
                top: 0px;
            }
        }
    }

    @media(max-width:767px) {
        padding-top: 48px;
        padding-bottom: 48px;

        .ba_comparision {
            margin: 0;
        }
        .ba_slider{
            padding-bottom: 32px;
        }

    }
}