.meet-the-team {
    position: relative;
    margin-top: 120px;
    margin-bottom: 120px;

    .title_sec {
        margin-bottom: 32px;

        h2 {
            margin-bottom: 16px;
            text-transform: capitalize;
        }
    }

    .txt {
        margin-top: 16px;
    }

    h3 {
        color: $c1;
        font-weight: 18px;
        margin-bottom: 8px;
    }

    @media(max-width:991px) {
        margin-top: 80px;
        margin-bottom: 80px;
        img {
            width: 100%;
        }

        .slick-slide {
            margin: 0 20px;
        }
    }

    @media(max-width:767px) {
        margin-top: 48px;
        margin-bottom: 48px;
    }
}