.meet-the-team{
    position: relative;
    margin-bottom: 120px;
    .title_sec{
        margin-bottom: 32px;
        h2{
            margin-bottom: 16px;
            text-transform: capitalize;
        }
    }

    .txt{
        margin-top: 16px;
    }
    h3{
        font-weight: 18px;
        margin-bottom: 8px;
    }
}